.logo {
  float: left;
}

.log-in-area {
  float: right;
}

.game-board {
  clear: right;
}

.box {
  border-bottom-style: solid;
  border-right-style: solid;
  font-size: 20px;
  height: 50px;
  padding: 5px;
  text-align: center;
}

.right {
  border-right-style: none;
}

.bottom {
  border-bottom-style: none;
}

.user {
  float: left;
}

.opponent {
  float: right;
}

.new-game {
  clear: right;
}

.new-game-button {
  background-color: blue;
  color: white;
}
