.logo {
  float: left;
}

.log-in-area {
  float: right;
}

p {
  text-align: center;
  vertical-align: middle;
}

.game-board {
  clear: right;
}

.box {
  border-bottom-style: solid;
  border-right-style: solid;
  font-size: 20px;
  height: 75px;
  text-align: center;
  width: 45px;
}

.box:hover {
  background-color: blue;
}

.active {
  background-color: lightgray;
  pointer-events: none;
}

.active:hover {
  background-color: lightgray;
}

.right {
  border-right-style: none;
}

.bottom {
  border-bottom-style: none;
}

.user {
  float: left;
}

.opponent {
  float: right;
}

.message {
  clear: both;
  text-align: center;
  vertical-align: middle;
}

.new-game-button {
  background-color: blue;
  color: white;
}
